@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700&display=swap');
:root {
  --light-blue: #bbe1fa;
  --blue: #3282b8;
  --dark-blue: #0f4c75;
  --dark: #1b262c;
}
body {
  font-family: 'IBM Plex Mono', Arial, Helvetica, sans-serif;
  margin: 5% 10%;
}

.card {
  padding: 20px;
  font-size: 14pt;
}

a {
  text-decoration: none;
  color: var(--dark-blue);
}

a:hover {
  border-bottom: 1px solid var(--blue);
  color: var(--blue);
  transition: 0.2s;
}

nav {
  display: flex;
  flex-wrap: wrap;
}

nav a {
  margin: 5px;
  border: 1px solid #CCC;
  padding: 10px;
  border-radius: 10px;
}

nav a:hover {
  border: 1px solid var(--blue);
}

b {
  color: var(--dark-blue);
}

.page-header {
  width: 50%;
  padding: 30px;
  border-radius: 10px;
  color: var(--dark-blue);
}

.page-header a {
  color: var(--blue);
}

.two-column {
  display: flex;
  flex-wrap: wrap;border: 1px 0px solid #CCC;
  border-top: 1px solid #CCC;
}

.two-column-child:nth-child(1) {
  width: 300px;
  padding: 10px;
  border-right: 1px solid #CCC;
  
}

.two-column-child:nth-child(2) {
  width: 600px;
  padding: 40px;
}

.row-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.row-card-child {
  padding: 15px;
  margin: 10px;
  width: 250px;
  border: 1px solid #CCC;
  border-radius: 5px;
}

.row-card-child .color {
  
}

@media screen and (max-width: 1300px) {
  .two-column {
    width: 100%;
  }

  .two-column-child:nth-child(1) {
  width: 100%;
  padding: 10px;
  border-right: 0px;
  border-bottom: 1px solid #CCC;
}

.two-column-child:nth-child(2) {
  width: 100%;
  padding: 10px
}

}

@media screen and (max-width: 900px) {
  .row-card-child {
  width: 100%;
}
}