@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Mono:400,700&display=swap');
:root {
  --light-blue: #bbe1fa;
  --blue: #3282b8;
  --dark-blue: #0f4c75;
  --dark: #1b262c;
}
body {
  font-family: 'IBM Plex Mono', Arial, Helvetica, sans-serif;
  margin: 5% 20%;
}

.card {
  padding: 20px;
  font-size: 14pt;
}

a {
  text-decoration: none;
  color: var(--dark-blue);
}

a:hover {
  border-bottom: 1px solid var(--blue);
  color: var(--blue);
  transition: 0.2s;
}

nav {
  display: flex;
  flex-wrap: wrap;
}

nav a {
  margin: 5px;
  border: 1px solid #CCC;
  padding: 10px;
  border-radius: 10px;
}

nav a:hover {
  border: 1px solid var(--blue);
}

b {
  color: var(--dark-blue);
}