@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');
:root {
  --orange: #ffa34d;
  --red: #f67575;
  --teal: #1eb2a6;
  --dark: #1b262c;
  --text-clip: url(https://generative-placeholders.glitch.me/image?style=triangles&width=100&height=100&colors=96);
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 14pt;
  margin: 5% 10%;
}

h1, h2, h3, h4 {
  font-family: 'Karla', Arial, Helvetica, sans-serif;
}

h4 {
  color: var(--orange);
  border-bottom: 1px solid var(--orange);
  padding: 10px;
}

.centered {
  display: block;
  margin: auto;
}

.card {
  padding: 20px;
  font-size: 14pt;
}

a {
  text-decoration: none;
  color: var(--teal);
}

a:hover {
  border-bottom: 1px solid var(--red);
  color: var(--red);
  transition: 0.2s;
}

a .disabled {
  background-color: gray;
}

nav {
  display: flex;
  flex-wrap: wrap;
}

nav a {
  margin: 5px;
  border: 1px solid #CCC;
  padding: 10px;
  border-radius: 10px;
}

nav a:hover {
  border: 1px solid var(--red);
}

b {
  color: var(--teal);
}

.page-header {
  width: 50%;
  padding: 30px;
  border-radius: 10px;
  color: var(--teal);
}

.page-header a {
  color: var(--red);
}

.two-column {
  display: flex;
  flex-wrap: wrap;
  border: 1px 0px solid #CCC;
  border-top: 1px solid #CCC;
}

.two-column-child:nth-child(1) {
  width: 300px;
  padding: 10px;
  border-right: 1px solid #CCC;
}

.two-column-child:nth-child(2) {
  width: 700px;
  padding: 40px;
}

.row-card {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}

.row-card-child {
  margin: 10px;
  width: 100%;
  border: 1px solid #CCC;
  border-radius: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
}

.row-card-child img {
  margin: 20px;
  align-self: center;
  height: 100px;
  width: auto;
  border-radius: 10px;
}

.row-card-child .head {
  background-color: var(--teal);
  width: 100%;
  display: flex;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.row-card-child .right {
  padding: 20px;
  font-size: 14px;
}

.row-card-child h3 {
  width: 300px;
  padding: 10px 20px;
  color: white;
  margin: auto 10px;
}

.row-card-child-dipped {
  padding: 0px;
  margin: 10px;
  width: 300px;
  border: 1px solid #CCC;
  border-radius: 10px;
  overflow: hidden;
}

.row-card-child-dipped-header {
  background-color: var(--red);
  padding: 10px;
  font-size: 24px;
  color: white;
}

.row-card-child-dipped-header h3 {
  margin: 30px 10px 10px 10px;
}

.row-card-child-dipped-header a {
  color: white;
}

.row-card-child-dipped-header a:hover {
  border-bottom: 1px solid white;
}

.row-card-child-dipped-content {
  padding: 20px;
}

.clipped {
  /**
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-image: var(--text-clip);
  **/
  background: -webkit-linear-gradient(45deg, #f67575, #ffa34d 80%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: var(--teal);
}

.citations {
  font-size: 11pt;
  color: rgb(93, 93, 93);
  width: 100%;
  border-top: 1px solid rgb(93, 93, 93);
  padding: 10px;
}

@media screen and (max-width: 1400px) {
  .two-column {
    width: 100%;
  }
  .two-column-child:nth-child(1) {
    width: 100%;
    padding: 10px;
    border-right: 0px;
    border-bottom: 1px solid #CCC;
  }
  .two-column-child:nth-child(2) {
    width: 100%;
    padding: 10px
  }
}

@media screen and (max-width: 900px) {
  .row-card-child {
    width: 100%;
  }
  .row-card-child-dipped {
    width: 100%;
  }
  .row-card-child {
    display: block;
  }
  .row-card-child .head {
    display: block;
  }
  .row-card-child a {
    font-size: 14pt;
    font-weight: bold;
  }
  .row-card-child h3 {
    font-size: 24px;
    font-weight: bold;
    display: block;
    padding: 30px;
  }
  .row-card-child img {
    margin: 0 auto;
    display: block;
    height: auto;
    width: 100%;
    border-radius: 10px;
  }
}