extends ./layout.jade
block content
  h3 Biology
  h4(id="biointro") BIOL 101/102/103/104
  BIOL 101/102/103/104 comprises the introductory biology sequence.  Each course is half of a semester, and the general structure varies slightly depending on the professor.  This sequence may be taken on-sequence (101/102 in the fall with 103/104 in the spring) or off-sequence (101/102 in the spring with 103/104 in the fall).  In general, there are weekly problem sets, but quiz and exam structure depends on the professor.    
  h4(id="biochem") Biochemistry
  p {MB&B 300} It is expected that you have taken general chemistry and have general biology background prior to this course.  It is often assumed that you have previous knowledge of organic chemistry.  There are three midterms and a final exam.  Make sure to utilize peer tutor sessions and office hours and take advantage of the study guides when reviewing for an exam. 
  h4(id="labs") Labs
  h4(id="tips") Tips
  p ~ Use peer tutor office hours
    ~ Sign up for enrichment during the intro bio sequence if you feel like you have an inadequate biology background
  .citations
    b Contributors
    p Royce Lee (PC21), Jaida Morgan (ES23)
