extends ./layout.jade
block content
  h3 Biology
  h4(id="biointro") BIO 101/102/103/104
  h4(id="biochem") Biochemistry
  p {MB&B 300} It is expected that you have taken general chemistry and have general biology background prior to this course.  It is often assumed that you have previous knowledge of organic chemistry.  There are three midterms and a final exam.  Make sure to utilize peer tutor sessions and office hours and take advantage of the study guides when reviewing for an exam. 
  h4(id="labs") Labs
  h4(id="tips") Tips
  p ~ Use peer tutor office hours
