extends ./layout.jade
block content
  .fat-header.clipped Black Pre-Health Organization
  // Copy paste me!
  .row-card
    .row-card-child-dipped
      .row-card-child-dipped-header-black
        h3
          a(href="./media/resourcepacket.docx") Educational Resources
      .row-card-child-dipped-content
        p This document was organized by Yale students to centralize resources meant for educating people on the prevalent issue of racially charged health care inequities and emphasizes the importance of anti-racism in health professions.    