mixin person(name, image, desc, email)
  .row-card-child
      .head
        img(src=image)
        h3= name
      .right
        p= desc
        a(href=email) Email

      +person("Anjelica Gonzalez", "img/urm_faculty/anjelicag.png", "Anjelica has a dedicated interest in training the next generation of scientists to think interdisciplinary and approach problems form a scientifically global perspective.  With a multi-disciplinary approach, the Gonzalez lab combines organic chemistry, molecular biology, mathematics, computational modeling and image analysis to develop and use biomedically engineering scaffolds to dissect the chemo-mechanics of immunological processes.  This work has special significance to an array of diseases and disorders, including atherosclerosis, arthritis, diabetes, cutaneous T-cell lymphoma, and sepsis.(Source: Faculty Page)", "mailto:anjelica.gonzalez@yale.edu")
      +person("Yetsa Tuakli-Wosornu", "img/urm_faculty/Yetsa.jpg","Yetsa A. Tuakli-Wosornu, MD, MPH is an Associate Research Scientist in the Department of Chronic Disease Epidemiology, at the Yale School of Public Health. A board-certified Physiatrist, Dr. Tuakli often draws upon her personal experiences as an athlete when she works with patients: she is a long jumper who represented the Ghana National Team until 2016. Dr. Tuakli serves as chair of the International Society of Physical and Rehabilitation Medicine (ISPRM) Task Force on Physical Activity for Persons with Disabilities, member of the International Blind Sports Federation (IBSA) medical committee, member of the U.S. Center for SafeSport Athletes with Disabilities advisory group, and she represents the International Paralympic Committee (IPC) on the International Olympic Committee (IOC) Prevention of Harassment and Abuse working group. Dr. Tuakli is the founder and director of the Sports Equity Lab in association with Yale (SELY).", "mailto:yetsa.tuakli-wosornu@yale.edu")   