extends ./layout.jade
block content
  .fat-header.clipped Black Pre-Health Organizations
  // Copy paste me!
  .row-card
    .row-card-child-dipped
      .row-card-child-dipped-header-black
        h3
          a(href="#") Coming soon.
      .row-card-child-dipped-content
        p We're working on it!     