extends ./layout.jade
block content
  h3 Chemistry
  h4(id="genchem") General Chemistry
  p This class is an introductory chemistry course for range of students that have little to no experience in chemistry. It is thought in two semesters (CHEM 161 and CHEM 165) that can be also taken off-sequence meaning that each class can be taken either the spring or fall semester.This class is usually easier than the lab. There are 2-3 midterms and a final that is cumulative. There are also weekly online problem sets. Keeping up with the material is a little demanding especially if you have not take chemistry before. If you feel insecure about course load or your chemistry experience feel free to seek peer tutors and fellow classmates to help you study. 
  h4(id="fyochem") First-year Organic Chemistry
  h4(id="ochem") Organic Chemistry
  h4(id="labs") Labs
  h4(id="tips") Tips