extends ./layout.jade
block content
  h3 Chemistry
  h4(id="genchem") General Chemistry
  h4(id="fyochem") First-year Organic Chemistry
  h4(id="ochem") Organic Chemistry
  h4(id="labs") Labs
  h4(id="tips") Tips