extends ./layout.jade
block content
  h3 Chemistry
  h4(id="genchem") General Chemistry
  p This class is an introductory chemistry course for students with varying levels of experience in chemistry. There are two levels of general chemistry that can be taken: CHEM 161/165 or CHEM 163/167.  Both general chemistry courses are taught in two semesters that can also be taken off-sequence, meaning that each class can be taken either the spring or the fall semester.  This class is usually easier than the corresponding lab course. There are 2-3 midterms and a final that is cumulative. There are also weekly online problem sets. Keeping up with the material is a little demanding especially if you have not taken chemistry before. If you feel insecure about course load or your chemistry experience, it is recommended to seek peer tutors and fellow classmates to help you study. 
  h4(id="fyochem") First-year Organic Chemistry
  p This class is often taken by first years who have an extremely strong background in chemistry.  The courses in the first-year organic chemistry sequence are CHEM 174 and CHEM 175.  Students enrolled in this course concurrently take CHEM 222L (with CHEM 174) and CHEM 223L (with CHEM 175).  The class entails weekly online problem sets, 2-3 midterms, and a cumulative final exam.  The class is generally more difficult than the corresponding lab course.  Students interested in taking First-Year Organic Chemistry must place into the class via a placement exam taken during orientation week.  
  h4(id="ochem") Organic Chemistry
  h3 Labs
  h4(id="labs") General Chemistry
  p This lab course is a two semester course that accompanies both general chemistry pathways.  It is usually much more time consuming than the corresponding lecture.  The course meets once a week and includes weekly lab quizzes and lab reports.  No previous high school experience is required for the lab.  It is recommended to collaborate with your peers to gain as much insight as possible with the lab reports.
  h4(id="labs") Organic Chemistry
  p This lab is offered for two semesters, and it corresponds to the CHEM 174/175 and CHEM 220/221 lectures.  There are occasional quizzes throughout the semester and weekly EPs due.  There are three cumulative lab reports due throughout the semester as well as a final exam. 
  h4(id="tips") Tips
  p ~ Utilize professor office hours and peer tutoring sessions.
  p ~ Find a motivated group of peers to study with.
  p ~ Start problem sets and lab reports well in advance of their due date.
  p ~ Email your professor or TA if you have concerns.
  .citations
      b Contributors
      p Jaida Morgan (ES23), Gedeon Poukouta Livit (SY23), Mimi Kostoska (BF21)