extends ./layout.jade
block content
  h3 Chemistry
  h4(id="genchem") General Chemistry
  p This class is an introductory chemistry course for students with varying levels of experience in chemistry. There are two levels of general chemistry that can be taken: CHEM 161/165 or CHEM 163/167.  Both general chemistry courses are taught in two semesters that can also be taken off-sequence, meaning that each class can be taken either the spring or the fall semester.  This class is usually easier than the corresponding lab course. There are 2-3 midterms and a final that is cumulative. There are also weekly online problem sets. Keeping up with the material is a little demanding especially if you have not taken chemistry before. If you feel insecure about course load or your chemistry experience, it is recommended to seek peer tutors and fellow classmates to help you study. 
  h4(id="fyochem") First-year Organic Chemistry
  p This class is often taken by first years who have an extremely strong background in chemistry.  The courses in the first-year organic chemistry sequence are CHEM 174 and CHEM 175.  Students enrolled in this course concurrently take CHEM 222L (with CHEM 174) and CHEM 223L (with CHEM 175).  The class entails weekly online problem sets, 2-3 midterms, and a cumulative final exam.  The class is generally more difficult than the corresponding lab course.  Students interested in taking First-Year Organic Chemistry must place into the class via a placement exam taken during orientation week.  
  h4(id="ochem") Organic Chemistry
  h4(id="labs") Labs
  h4(id="tips") Tips