extends ./layout.jade
block content
  h3 Computer Science
  h4(id="50") CS 50
  p Co-taught with Harvard University, this is a CS class for those with little to no 
    | programming experience. This is not designed for CS majors, however, it serves as a 
    | good introduction to programming if you don't feel comfortable diving into CPSC 112.
  h4(id="112") CPSC 112
  p Introductory programming course for those who are intending to take the CS major
    | and have little to no programming experience.
  h4(id="201") CPSC 201
  p Introduction to computer science with those who have some experience with programming. No
    | specific language requirements are needed for this class other than understanding programming 
    | logic as a whole. Class is taught in Racket (similar to LISP/Scheme) which may seem unconventional, 
    | however, the main focus of this class is on understanding methods of recursion and functional programming
    | rather than object oriented.
  h4(id="223") CPSC 223
  p Introduction to algorithms and data structures in C. This class can be difficult when compared to 
    | CS
  div.citations
    b Contributors 
    | Jay Baptista (ES23), Samantha Trimboli (PC23)
  