extends ./layout.jade
block content
  .card Majors are grouped by department or you can select an introductory course.
  .two-column
    .two-column-child
      h2
        | Directory
      ul
        li
          a(href='#') Introductory Courses
    .two-column-child
      h3(id="bio") MCDB, MBB, EBB, BME
      ul
        li
          a(href='./bio.html#biointro') BIO 101/102/103/104
        li
          a(href='./chem.html#genchem') General Chemistry
        li
          a(href='./chem.html#fyochem') Organic Chemistry
        li
          a(href='#') Biochemistry
        li
          a(href='./math.html#bio') MATH 116/121
        li
          a(href='./phys.html#bio') PHYS 170/171
        li
          a(href='./phys.html#180') PHYS 180/181
        li
          a(href='./chem.html#labs') Chemistry Labs
      h3(id="chem") Chemistry
      ul
        li
          a(href='./chem.html#genchem') CHEM 161/165
        li
          a(href='./chem.html#fyochem') CHEM 163/167
        li
          a(href='./chem.html#labs') Chemistry Labs
      h3(id="cpsc") Computer Science
      ul
        li
          a(href='./cpsc.html#50') CPSC 50
        li
          a(href='./cpsc.html#112') CPSC 112
        li
          a(href='./cpsc.html#201') CPSC 201
        li
          a(href='./cpsc.html#223') CPSC 223
      h3(id="phys") Physics
      ul
        li
          a(href='./phys.html#180') PHYS 180/181
        li
          a(href='./phys.html#200') PHYS 200/201
        li
          a(href='./phys.html#labs') Physics Labs
      h3(id="bio") Math
      ul
        li
          a(href='./math.html#112') MATH 112
        li
          a(href='./math.html#115') MATH 115
        li
          a(href='./math.html#120') MATH 120
        li
          a(href='./math.html#230') MATH 230/231
