extends ./layout.jade
block content
  .card Majors are grouped by department or you can select an introductory course.
  .two-column
    .two-column-child
      h2
        | Directory
      ul
        li
          a(href='#') Introductory Courses
    .two-column-child
      h3(id="bio") MCDB, MBB, EBB, BME
      ul
        li
          a(href='./biointro.html') BIO 101/102/103/104
        li
          a(href='#') General Chemistry
        li
          a(href='#') Organic Chemistry
        li
          a(href='#') Biochemistry
        li
          a(href='#') MATH 116/121
        li
          a(href='#') PHYS 170/171
        li
          a(href='#') PHYS 180/181
        li
          a(href='#') Chemistry Labs
      h3(id="chem") Chemistry
      ul
        li
          a(href='#') CHEM 161/165
        li
          a(href='#') CHEM 163/167
        li
          a(href='#') Chemistry Labs
      h3(id="cpsc") Computer Science
      ul
        li
          a(href='#') CPSC 50/100
        li
          a(href='#') CPSC 112
        li
          a(href='#') CPSC 201
        li
          a(href='#') CPSC 223
      h3(id="phys") Physics
      ul
        li
          a(href='#') PHYS 180/181
        li
          a(href='#') Physics Labs
      h3(id="bio") Math
      ul
        li
          a(href='#') MATH 112
        li
          a(href='#') MATH 115
        li
          a(href='#') MATH 120
        li
          a(href='#') MATH 222/225
      h3 Introductory Courses
      ul
        li
          a(href='#') MATH 112
        li
          a(href='#') MATH 115
        li
          a(href='#') MATH 120
        li
          a(href='#') MATH 222/225
        li
          a(href='#') PHYS 170/171
        li
          a(href='#') PHYS 180/181
