extends ./layout.jade
block content
  h2 FGLI Resources
  .row-card
    .row-card-child-dipped
        .row-card-child-dipped-header-img(style="background-image: url(./img/code.png);")
          h3 Work In Progress
        .row-card-child-dipped-content
          p The team is actively trying to keep this wiki up-to-date! That being said, this project is an on-going effort and is still a work in progress. If you want to help out or give us any tips, feel free to contact us!
          a(href="index.html#team") Contact
    .row-card-child-dipped(width="500px")
      .row-card-child-dipped-header
        h3 FGLI
      .row-card-child-dipped-content
        p If you are a first-generation/low-income student, here are some resources to help navigate college-level academics and STEM pursuits.
    .row-card-child-dipped
      .row-card-child-dipped-header
        h3 External Resources
      .row-card-child-dipped-content
        ul
          li 
            a(href="https://fgli.yalecollege.yale.edu/") #[strong Yale Community Initiative] 