extends ./layout.jade
block content
  h2 Imposter Syndrome
  .row-card
    .row-card-child-dipped(width="500px")
      .row-card-child-dipped-header
        h3 What is it?
      .row-card-child-dipped-content
        p Especially at institutions like Yale,
    .row-card-child-dipped
      .row-card-child-dipped-header
        h3 External Resources
      .row-card-child-dipped-content
        ul
          li 
            a(href="https://www.apa.org/gradpsych/2013/11/fraud") #[strong American Psychological Association] 
          li 
            a(href="https://time.com/5312483/how-to-deal-with-impostor-syndrome/") #[strong Time]: How to Deal with Imposter Syndrome
          li 
            a(href="https://students-residents.aamc.org/attending-medical-school/article/imposter-syndrome/") #[strong Attending Medical School]: Imposter Syndrome
          li 
            a(href="https://hbr.org/2008/05/overcoming-imposter-syndrome") #[strong HBS]: Overcoming Imposter Syndrome