extends ./layout.jade

mixin profile(name, image, description, email)
  .row-card-child(style="width: 450px;")
      .head
        img(src=image)
        h3= name
      .right
        p= description
        a(href=email) Email

block content
  .card
    | The Yale STEM Wiki was made by undergraduate students to enhance the accessibility of
    | STEM resources for all kinds of Yalies from premeds, URMs, FGLI students, and more.
  h3 Who are we?
  .row-card
    +profile("Jay Baptista 2023", "./img/headshot-min.jpg", "Jay is a potential astrophysics major who lives in Ezra Stiles College.  He calls Maui home, and he hopes to attend graduate school in the future and pursue a career in academia." ,"mailto:jay.baptista@yale.edu")
    +profile("Jaida Morgan 2023", "./img/IMG_0753 (1).jpg", "Jaida is a potential molecular, cellular, & developmental biology major who lives in Ezra Stiles College.  She comes from Southern California and plans on attending graduate school after Yale to pursue a career in cancer research." ,"mailto:jaida.morgan@yale.edu")
    +profile("Mimi Kostoska 2021", "./img/mimipic.jpg", "Class of 2021" ,"mailto:mimi.kostoska@yale.edu")
    +profile("Michael Najem 2020", "./img/unnamed.jpg", "Michael is an MB&B major who lives in Timothy Dwight College.  He will be attending medical school next year and plans to pursue a career at the intersection of medicine and health policy", "mailto:michael.najem@yale.edu")
  nav
    a(href='#') Contact Us
    .row-card
      .row-card-child-dipped(width="500px")
        .row-card-child-dipped-header
          h3 STEM Survey Report
        .row-card-child-dipped-content
          p The Yale College Student Advisory Committee on Science and Quantitative Reasoning and the Yale College Council conducted a study to determine why not as many students initially interested in STEM degrees chose to follow through on earning a STEM degree.  The results are summarized in the report below, as well as recommendations for the overall improvement of STEM at Yale.
          a(href="./media/stemreport.pdf") View Report Here

