extends ./layout.jade
block content
  .card
    | The Yale STEM Wiki was made by undergraduate students to enhance the accessibility of
    | STEM resources for all kinds Yalies from premeds, URMs, FGLI students, and more.
  h3 Who we are?
  .row-card
    .row-card-child
      img.centered(width='250px', height='auto', src='./img/headshot-min.jpg')
      h3 Jay Baptista
      |         Class of 2023
      br
      a(href="mailto:jay.baptista@yale.edu") Email
    .row-card-child
      img.centered(width='250px', height='auto', src='./img/IMG_0753 (1).jpg')
      h3 Jaida Morgan
      |         Class of 2023
      br
      a(href="mailto:jaida.morgan@yale.edu") Email
    .row-card-child
      img.centered(width='250px', height='auto', src='./img/mimipic.jpg')
      h3 Mimi Kostoska
      |         Class of 2021
      br
      a(href="mailto:mimi.kostoska@yale.edu") Email
    .row-card-child
      img.centered(width='250px', height='auto', src='./img/unnamed.jpg')
      h3 Michael Najem
      |         Class of 2020
      br
      a(href="mailto:michael.najem@yale.edu") Email
  nav
    a(href='#') Contact Us
