extends ./layout.jade
block content
  .card
    | The Yale STEM Wiki was made by undergraduate students to enhance the accessibility of
    | STEM resources for all kinds Yalies from premeds, URMs, FGLI students, and more.
  h3 Who we are?
  .row-card
    .row-card-child
      img.centered(width='250px', height='auto', src='./img/headshot-min.jpg')
      h3 Jay Baptista
      |         Class of 2023
    .row-card-child
      img.centered(width='250px', height='auto', src='./img/IMG_0753 (1).jpg')
      h3 Jaida Morgan
      |         Class of 2023
    .row-card-child
      img.centered(src='https://generative-placeholders.glitch.me/image?width=200&height=200&style=123&img=3')
      h3 Mimi Kostoska
      |         Class of 2021
    .row-card-child
      img.centered(width='250px', height='auto', src='./img/unnamed.jpg')
      h3 Michael Najem
      |         Class of 2020
  nav
    a(href='#') Contact Us
