extends ./layout.jade
block content
  h3 Physics
  h4(id="bio") PHYS 170/171
  h4(id="180") PHYS 180/181
  p This course is generally more difficult and time consuming than the corresponding lab course.  There are two midterms and a final exam for each semester-long segment.  There are weekly problem sets that are designed to challenge students' critical thinking skills, but there are many course-oriented resources and office hours.  PHYS 180/181 is supposed to be taken after or concurrently with Math 115, as the course is calculus-based.  No prior physics knowledge is required to enroll in the lecture.
  h4(id="200") PHYS 200/201
  h4(id="labs") Labs
  h4(id="tips") Tips
  p ~ Go to office hours as much as possible.
  p ~ Start the problem sets as soon as they're assigned.
  .citations
    b Contributors
    p Alejandra Jaramillo (JE23)