extends ./layout.jade
block content
  h3 Physics
  h4(id="bio") PHYS 170/171
  h4(id="180") PHYS 180/181
  p This course is generally more difficult and time consuming than the corresponding lab course.  There are two midterms and a final exam for each semester-long segment.  There are weekly problem sets that are designed to challenge students' critical thinking skills, but there are many course-oriented resources and office hours.  PHYS 180/181 is supposed to be taken after or concurrently with Math 115, as the course is calculus-based.  No prior physics knowledge is required to enroll in the lecture.
  h4(id="labs") Labs
  p Phys 165L goes hand in hand with University Physics and there is some overlap with the content.  The way that this lab is structures is that each lab focuses on a different physics concept and you take weekly quizzes on important formulae.  You do not need prior physics experience to take this class. Phys 165L has a midterm, which is a lab practical, and a final lab practical.  Each week, you will be writing a one page report, where the ultimate goal is to connect the lab to real life situations.  The second semester of this lab has a very similar structure to the first semester, except that there is no longer a midterm practical.
  h4(id="tips") Tips
  p ~ Go to office hours as much as possible.
  p ~ Start the problem sets as soon as they're assigned.
  .citations
    b Contributors
    p Alejandra Jaramillo (JE23), Royce Lee (PC21)