extends ./layout.jade
block content
  .row-card
        .row-card-child-dipped
          .row-card-child-dipped-header
            h3
              a(href="./urm_prof.html") Coursework
          .row-card-child-dipped-content
            | Click on the link above to see faculty 
        
        .row-card-child-dipped
          .row-card-child-dipped-header
            h3
              a(href="#") Imposter Syndrome?
          .row-card-child-dipped-content
            | URMs, especially here at Yale, can be most likely to be susceptible 
            | to Imposter Syndrome. Learn more and how to deal with imposterism on the link above.
        
        .row-card-child-dipped
          .row-card-child-dipped-header
            h3
              a(href="#") Imposter Syndrome?
          .row-card-child-dipped-content
            | URMs, especially here at Yale, can be most likely to be susceptible 
            | to Imposter Syndrome. Learn more and how to deal with imposterism on the link above.