extends ./layout.jade
block content
    a(href="https://science.yalecollege.yale.edu/") Refer to this website provided by Dean Chang.  It is the source of all undergraduate STEM summer research and fellowships.
  