extends ./layout.jade
block content
    .row-card
        .row-card-child-dipped
            .row-card-child-dipped-header-img(style="background-image: url(./img/picofmarsh.jpg);")
                h3 Research
            .row-card-child-dipped-content
                a(href="https://science.yalecollege.yale.edu/") Refer to this website provided by Dean Chang.  It is the source of all undergraduate STEM summer research and fellowships.
