extends ./layout.jade
block content
    .row-card
        .row-card-child-dipped
            .row-card-child-dipped-header-img(style="background-image: url(./img/code.png);")
                h3 Work In Progress
            .row-card-child-dipped-content
                p The team is actively trying to keep this wiki up-to-date! That being said, this project is an on-going effort and is still a work in progress. If you want to help out or give us any tips, feel free to contact us!
                a(href="index.html#team") Contact
        .row-card-child-dipped
            .row-card-child-dipped-header-img(style="background-image: url(./img/picofmarsh.jpg);")
                h3 Research
            .row-card-child-dipped-content
                a(href="https://science.yalecollege.yale.edu/") Refer to this website provided by Dean Chang.  It is the source of all undergraduate STEM summer research and fellowships.
