extends ./layout.jade

mixin person(name, image, desc, email)
  .row-card-child
      img(width='100px', height='auto', src=image)
      .right
        h3= name
        p= desc
        a(href=email) Email

block content
  .two-column
    .two-column-child
      h3 Directory
      ul
        li
          a(href="#physics") Physics
        li
          a(href="#") Biology
        li
          a(href="#") Chemistry
        li
          a(href="#") Computer Science
        li
          a(href="#") Mathematics
    .two-column-child
      h3 Molecular, Cellular, & Developmental Biology
      .row-card
        +person("Stavroula Hatzios", "img/urm_faculty/hatzios.jpg", "Stavroula is an Assistant Professor of Molecular, Cellular and Developmental Biology in the Microbial Sciences Institute at Yale University. A native of Blacksburg, Virginia, she received her B.S. in chemistry from MIT and conducted her graduate work with Carolyn Bertozzi at UC Berkeley. After earning her Ph.D., Stavroula completed a research fellowship in Uganda before pursuing postdoctoral work with Matt Waldor at Brigham and Women’s Hospital/Harvard Medical School. Outside of the lab, she has been a longtime volunteer with science outreach organizations and has performed widely as an oboist. Her lab studies proteins that shape host-microbe interactions in gastrointestinal infections.", "mailto:stavroula.hatzios@yale.edu")
      h3 Ecology & Evolutionary Biology
      +person("Paul Turner", "img/urm_faculty/turner.jpg", "Paul Turner is the Rachel Carson Professor of Ecology and Evolutionary Biology at Yale University, and faculty member in Microbiology at Yale School of Medicine. He studies the evolutionary genetics of viruses, particularly bacteriophages that specifically infect bacterial pathogens, and RNA viruses that are vector-transmitted by mosquitoes. Dr. Turner received a Biology degree (1988) from University of Rochester, and Ph.D. (1995) in Zoology from Michigan State University. He did postdoctoral training at National Institutes of Health, University of Valencia in Spain, and University of Maryland-College Park, before joining Yale’s Ecology and Evolutionary Biology Department in 2001. His service to the profession includes Chair of the American Society for Microbiology (ASM) Division on Evolutionary and Genomic Microbiology, as well as membership on the National Science Foundation’s Biological Sciences Advisory Committee, ASM Committee on Minority Education, and multiple National Research Council advisory committees. Dr. Turner was elected Fellow of the National Academy of Sciences, Fellow of the American Academy of Arts & Sciences, Fellow of the American Academy of Microbiology, Councilor of the American Genetic Association, Chair of the Gordon Research Conference on Microbial Population Biology, and Chair of the CNRS Jacques Monod Conference on Viral Emergence. He chaired the Watkins Graduate Research Fellowship award committee for ASM, and received the E.E. Just Endowed Research Fellowship and William Townsend Porter Award from Marine Biological Laboratory, and fellowships from Woodrow Wilson Foundation, NSF, NIH and HHMI. Dr. Turner has served as Director of Graduate Studies and as Chair of the Ecology and Evolutionary Biology Department at Yale, as well as Yale’s Interim Dean of Science and Chair of the Biological Sciences Advisory and Tenure Promotion Committees.", "mailto:paul.turner@yale.edu")