extends ./layout.jade
block content
  .fat-header.clipped URM Resources
  // Copy paste me!
  .row-card
    .row-card-child-dipped
        .row-card-child-dipped-header-img(style="background-image: url(./img/code.png);")
          h3 Work In Progress
        .row-card-child-dipped-content
          p The team is actively trying to keep this wiki up-to-date! That being said, this project is an on-going effort and is still a work in progress. If you want to help out or give us any tips, feel free to contact us!
          a(href="index.html#team") Contact
    .row-card-child-dipped
      .row-card-child-dipped-header
        h3
          a(href="./urm_prof.html") URM Professors
      .row-card-child-dipped-content
        p Click on the link above to see faculty 
        | that are under-represented minorities, and the 
        | departments and research fields they work in.
    .row-card-child-dipped
      .row-card-child-dipped-header-black
        h3
          a(href="./imposter.html") Imposter Syndrome?
      .row-card-child-dipped-content
        p URMs, especially here at Yale, can be most likely to be susceptible 
        | to Imposter Syndrome. Learn more and how to deal with imposterism on the link above.      
      
