extends ./layout.jade

mixin person(name, image, desc, email)
  .row-card-child
      img.centered(width='200px', height='auto', src=image)
      h3= name
      p= desc
      a(href=email) Email

block content
  .two-column
    .two-column-child
      h3 Directory
      ul
        li
          a(href="#physics") Physics
        li
          a(href="#") Biology
        li
          a(href="#") Chemistry
        li
          a(href="#") Computer Science
        li
          a(href="#") Mathematics
    .two-column-child
      h3(id="physics") Physics
      .row-card
        +person("NAME", "./urm_faculty/FILENAME", "DESCRIPTION", "mailto:EMAIL")